<div class="header-content">
  <p>Follow us on Instagram @dinamic.io</p>
</div>
<header>
  <div class="header-imgbox">
    <img src="assets/images/logo.webp">
  </div>
  <div class="header-icons">
    <ul>
      <li>For Business</li>
      <li><i class="material-icons transform-90">search</i></li>
      <li><i class="material-icons">favorite_border</i></li>
      <li><i class="material-icons">account_circle</i></li>
    </ul>
  </div>
</header>
<div class="container">
  <div class="mb">
    <h4>Order Biryani</h4>
  </div>
  <div class="mb">
    <p>Food, drinks, desserts and more available for delivery and pickup</p>
  </div>
  <div class="container-contents">
    <input type="text" placeholder="Search for Places and Restaurants...">
    <div class="container-icon">
      <i class="material-icons transform-90">search</i>
    </div>
  </div>
</div>
<div class="section">
  <div class="titles">
    <h2>Search by Cuisine</h2>
    <p>Explore restaurents and cafes by your favorite Cuisine</p>
  </div>
  <div class="section-imgbox">
    <img src="assets/images/biryani.webp">
    <img src="assets/images/pizza.jpg">
    <img src="assets/images/dosa.jpg">
    <img src="assets/images/continental.webp">

  </div>
</div>
<div class="home">
  <div class="home-imgbox">
    <img src="assets/images/3cup.webp">
  </div>
  <div class="home-content">
    <h2>On a mission to promote #orderdirect</h2>
    <p>DiNAMIC ORDER - is here to help you order directly from your favourite restaurants. The ENTIRE ORDER VALUE goes
      to the restaurant and huge commissions otherwise charged by food aggregator apps are eliminated. This ensures they
      SURVIVE these TOUGH TIMES.</p>
  </div>
</div>
<div class="titles">
  <h2>Top Picks</h2>
  <p>The best places to order from</p>
  <p class="btm">Trending</p>
</div>
<div class="trending">
  <div class="cards">
    <img src="assets/images/mezze_a.webp">
    <h3>MEZZE</h3>
    <p>Mezze Alwarpet</p>
    <p>700 for two</p>
  </div>
  <div class="cards">
    <img src="assets/images/the_summer_house_eatery_a.webp">
    <h3>MEZZE</h3>
    <p>Mezze Alwarpet</p>
    <p>700 for two</p>
  </div>
  <div class="cards">
    <img src="assets/images/zhouyu_a.webp">
    <h3>MEZZE</h3>
    <p>Mezze Alwarpet</p>
    <p>700 for two</p>
  </div>
  <div class="cards">
    <img src="assets/images/pumpkin_tales_a.webp">
    <h3>MEZZE</h3>
    <p>Mezze Alwarpet</p>
    <p>700 for two</p>
  </div>
</div>
<div class="finder">
  <div class="finder-imgbox">
    <img src="assets/images/1622711562849-143436.webp">
  </div>
  <div class="finder-content">
    <p class="mb">Restaurant Finder</p>
    <h2 class="mb">Hungry but undecided?</h2>
    <p class="mb">Craving</p>
    <h1 class="mb">Burgers?</h1>
    <p class="mb">Answer a few simple questions and get smart order recommendations</p>
    <div class="flex">
      <span><i class="material-icons transform-90">search</i></span>
      <h6>CLICK HERE TO START</h6>
    </div>
  </div>
</div>
<div class="section">
  <div class="titles">
    <h2>Crowd Favourites</h2>
    <p>An inclusive curation of top restaurants, cafes, and bistros</p>
  </div>
  <div class="section-imgbox">
    <img src="assets/images/1622752653241-416159.webp">
    <img src="assets/images/1622752653253-185318.webp">
    <img src="assets/images/1622752653267-224519.webp">
    <img src="assets/images/1622752653321-609566.webp">

  </div>
</div>
<div class="titles">
  <h2>Newly-opened Restaurants</h2>
  <p>New beginnings. New experiences.</p>
  <p class="btm">Newly Opened</p>
</div>
<div class="trending">
  <div class="cards">
    <img src="assets/images/ghulams_biryani_a.jpg">
    <h3>MEZZE</h3>
    <p>Mezze Alwarpet</p>
    <p>700 for two</p>
  </div>
  <div class="cards">
    <img src="assets/images/gobrgr_a.webp">
    <h3>MEZZE</h3>
    <p>Mezze Alwarpet</p>
    <p>700 for two</p>
  </div>
  <div class="cards">
    <img src="assets/images/broken_bridge_cafe_by_radio_room_a.webp">
    <h3>MEZZE</h3>
    <p>Mezze Alwarpet</p>
    <p>700 for two</p>
  </div>
  <div class="cards">
    <img src="assets/images/zhouyu_a (1).webp">
    <h3>MEZZE</h3>
    <p>Mezze Alwarpet</p>
    <p>700 for two</p>
  </div>
</div>
<div class="titles">
  <h2>The Best Way to Order</h2>
  <p>Price is what you pay. Value is what you get.</p>
</div>
<div class="img-aligner">
  <img src="assets/images/1622742494231-43269.webp">
  <img src="assets/images/1622742494260-749431.webp">
  <img src="assets/images/1622742494282-176588.webp">
</div>
<div class="titles">
  <h2>Crave-worthy Content</h2>
  <p>Read our take on all things restaurant</p>
</div>
<div class="aligner">
  <div class="aligner-img">
    <img src="assets/images/1622534850993-748855.webp">
  </div>
  <div class="aligner-img">
    <img src="assets/images/1622534674060-871452.webp">
  </div>
  <div class="aligner-img">
    <img src="assets/images/1622534491624-752019.webp">
  </div>
</div>
<footer>
  <div class="footer">
    <div class="footer-img">
      <img src="assets/images/logo.webp">
    </div>
    <div class="footer-content">
      <p>SOCIAL MEDIA</p>
    </div>
  </div>
  <hr>
  <div class="footer">
    <div class="footer-img">
      <p>© 2021 DiNAMIC ORDER. All rights reserved.</p>
    </div>
    <div class="footer-content">
      <p>FeedbackTerms of ServicePrivacy Policy</p>
    </div>
  </div>
</footer>