<div *ngFor="let data of data;">
  <div *ngFor="let value of values;">
    <div class="header-content">
      <p>Follow us on Instagram @dinamic.io</p>
    </div>
    <header>
      <div class="header-imgbox">
        <img src="assets/images/{{data.logo}}">
      </div>
      <div class="header-icons">
        <ul>
          <li class="hide">For Business</li>
          <li><i class="material-icons transform-90">search</i></li>
          <li><i class="material-icons">favorite_border</i></li>
          <li><i class="material-icons">account_circle</i></li>
        </ul>
      </div>
    </header>
    <div class="container">
      <div class="mb">
        <h4>{{value.order}}</h4>
      </div>
      <div class="mb">
        <p>{{value.food}}</p>
      </div>
      <div class="container-contents">
        <input type="text" placeholder="Search for Places and Restaurants...">
        <div class="container-icon">
          <i class="material-icons transform-90">search</i>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="titles">
        <h2>{{value.search}}</h2>
        <p>{{value.explore}}</p>
      </div>
      <div class="section-imgbox">
        <img src="assets/images/{{data.biryani}}">
        <img src="assets/images/{{data.pizza}}">
        <img src="assets/images/{{data.dosa}}">
        <img src="assets/images/{{data.continental}}">
    
      </div>
    </div>
    <div class="home">
      <div class="home-imgbox">
        <img src="assets/images/{{data.cup}}">
      </div>
      <div class="home-content">
        <h2>{{value.on}}</h2>
        <p>{{value.dinamic}}</p>
      </div>
    </div>
    <div class="titles">
      <h2>{{value.top}}</h2>
      <p>{{value.the}}</p>
      <p class="btm">{{value.trending}}</p>
    </div>
    <div class="trending">
      <div class="cards">
        <img src="assets/images/{{data.mezze}}">
        <h3>MEZZE</h3>
        <p>Mezze Alwarpet</p>
        <p>700 for two</p>
      </div>
      <div class="cards">
        <img src="assets/images/{{data.summer}}">
        <h3>MEZZE</h3>
        <p>Mezze Alwarpet</p>
        <p>700 for two</p>
      </div>
      <div class="cards">
        <img src="assets/images/{{data.zhouyu}}">
        <h3>MEZZE</h3>
        <p>Mezze Alwarpet</p>
        <p>700 for two</p>
      </div>
      <div class="cards">
        <img src="assets/images/{{data.pumpkin}}">
        <h3>MEZZE</h3>
        <p>Mezze Alwarpet</p>
        <p>700 for two</p>
      </div>
    </div>
    <div class="finder">
      <div class="finder-imgbox">
        <img src="assets/images/{{data.num}}">
      </div>
      <div class="finder-content">
        <p class="mb">{{value.restaurant}}</p>
        <h2 class="mb">{{value.hungry}}</h2>
        <p class="mb">{{value.craving}}</p>
        <h1 class="mb">{{value.burgers}}</h1>
        <p class="mb">{{value.answer}}</p>
        <div class="flex">
          <span><i class="material-icons transform-90">search</i></span>
          <h6>{{value.click}}</h6>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="titles">
        <h2>{{value.crowd}}</h2>
        <p>{{value.an}}</p>
      </div>
      <div class="section-imgbox">
        <img src="assets/images/{{data.numb}}">
        <img src="assets/images/{{data.numbe}}">
        <img src="assets/images/{{data.number}}">
        <img src="assets/images/{{data.numbers}}">
    
      </div>
    </div>
    <div class="titles">
      <h2>{{value.newly}}</h2>
      <p>{{value.new}}</p>
      <p class="btm">{{value.opened}}</p>
    </div>
    <div class="trending">
      <div class="cards">
        <img src="assets/images/{{data.ghulams}}">
        <h3>MEZZE</h3>
        <p>Mezze Alwarpet</p>
        <p>700 for two</p>
      </div>
      <div class="cards">
        <img src="assets/images/{{data.gobrgr}}">
        <h3>MEZZE</h3>
        <p>Mezze Alwarpet</p>
        <p>700 for two</p>
      </div>
      <div class="cards">
        <img src="assets/images/{{data.broken}}">
        <h3>MEZZE</h3>
        <p>Mezze Alwarpet</p>
        <p>700 for two</p>
      </div>
      <div class="cards">
        <img src="assets/images/{{data.zhouyua}}">
        <h3>MEZZE</h3>
        <p>Mezze Alwarpet</p>
        <p>700 for two</p>
      </div>
    </div>
    <div class="titles">
      <h2>{{value.best}}</h2>
      <p>{{value.price}}</p>
    </div>
    <div class="img-aligner">
      <img src="assets/images/{{data.one}}">
      <img src="assets/images/{{data.two}}">
      <img src="assets/images/{{data.three}}">
    </div>
    <div class="titles">
      <h2>{{value.crave}}</h2>
      <p>{{value.read}}</p>
    </div>
    <div class="aligner">
      <div class="aligner-img">
        <img src="assets/images/{{data.four}}">
      </div>
      <div class="aligner-img">
        <img src="assets/images/{{data.five}}">
      </div>
      <div class="aligner-img">
        <img src="assets/images/{{data.six}}">
      </div>
    </div>
    <footer>
      <div class="footer">
        <div class="footer-img">
          <img src="assets/images/logo.webp">
        </div>
        <div class="footer-content">
          <p>SOCIAL MEDIA</p>
        </div>
      </div>
      <hr>
      <div class="footer">
        <div class="footer-img">
          <p>© 2021 DiNAMIC ORDER. All rights reserved.</p>
        </div>
        <div class="footer-content">
          <p>FeedbackTerms of ServicePrivacy Policy</p>
        </div>
      </div>
    </footer>
  </div>
</div>